._home {
  height: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
}

p {
  padding: 0;
  margin: 0;
}
._profile-fName {
  font-size: 55px;
  line-height: 55px;
  transform: translate(10%, 100%);
}
._profile-lName {
  font-size: 55px;
  line-height: 55px;
  transform: translate(10%, 100%);
}
._profile-lName::after {
  content: "Frontend Developer";
  position: absolute;
  font-size: 1rem;
  bottom: -2rem;
  left: 2rem;
  font-family: var(--font-mono);
  color: var(--colorLightYellow);
  text-decoration: underline;
}
._profile-lName::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.2rem;
  background-color: var(--colorLightYellow);
  bottom: -0.5rem;
  left: 5px;
}
.hi {
  font-size: 1.2rem;
  font-family: var(--font-mono);
  color: var(--colorDarkYellow);
  display: flex;
  align-items: center;
}
.hi::before {
  content: "";
  width: 1rem;
  height: 0.2rem;
  background-color: var(--colorDarkYellow);
  margin-right: 0.5rem;
}
.hi_1 {
  font-size: 35px;
  line-height: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.5;
  margin-top: 1rem;
}
.hi_2 {
  font-size: 16px;
  line-height: 20px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 1rem;
  vertical-align: middle;
}
.hi_2 > span {
  color: var(--colorLightYellow);
  font-weight: 700;
  text-decoration: underline;
}
.hi_34 {
  margin-top: 2rem;
  opacity: 0.9;
}
.hi_3,
.hi_4 {
  color: var(--colorDarkYellow);
  display: block;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footerLeft a {
  width: auto;
  color: var(--colorDarkYellow);
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

@media only screen and (min-width: 600px) {
  ._home {
    display: block;
  }
  ._profile {
    height: 55%;
    position: relative;
  }
  ._intro {
    height: 45%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--colorBgDark);
    padding: 2rem;
  }
  ._profileImage {
    position: absolute;
    height: 100%;
    top: 0;
    right: 10%;
  }
  p {
    padding: 0;
    margin: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .footerMobile span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--colorLightYellow);
    cursor: pointer;
    font-family: var(--font-mono);
  }
  .footerLeft,
  .footerRight {
    display: none;
  }
  .footerMobile span:hover > .footerLeftIcon {
    transform: translate(6rem);
    transition: transform 200ms ease-in-out;
    color: var(--colorLightYellow);
  }
}
@media only screen and (max-width: 600px) {
  ._home {
    display: block;
    height: 100%;
    margin-bottom: 2rem;
  }
  ._profile {
    height: 55%;
    position: relative;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  ._intro {
    height: 45%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--colorBgDark);
    padding: 2rem;
  }
  ._profileImage {
    position: absolute;
    height: 100%;
    top: 0;
    right: -20%;
    filter: grayscale(50%);
  }
  .pageFooter {
    position: fixed;
    height: 1.5rem;
    width: 100%;
    bottom: 0;
    background-color: var(--colorBgDark);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-top: 1px solid #292922;
  }
  .footerMobile span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorLightYellow);
    cursor: pointer;
    font-family: var(--font-mono);
  }
  .footerLeft,
  .footerRight {
    display: none;
  }
  .footerMobile span:hover > .footerLeftIcon {
    transform: translate(6rem);
    transition: transform 200ms ease-in-out;
    color: var(--colorLightYellow);
  }
}
@media only screen and (min-width: 768px) {
  ._home {
    height: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  ._profile {
    height: 100%;
    position: relative;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  ._intro {
    box-sizing: border-box;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--colorBgDark);
    padding: 2rem;
  }
  .pageFooter {
    height: 20%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  ._profileImage {
    position: absolute;
    height: 100%;
    top: 0;
    right: 10%;
    filter: grayscale(50%);
  }
  .footerMobile {
    display: none;
  }
  .footerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorDarkYellow);
    cursor: pointer;
    font-size: 1rem;
    font-family: var(--font-mono);
  }
  .footerLeft span {
    display: flex;
    align-items: center;
    transform: translate(0);
    transition: transform 200ms ease-in-out;
  }
  .footerLeft span:hover > .footerLeftIcon {
    transform: translate(6rem);
    transition: transform 200ms ease-in-out;
    color: var(--colorLightYellow);
  }
  .footerRight {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--colorBgDark);
    gap: 1rem;
  }
  .footerRight span {
    display: inline-block;
    height: 2px;
    width: 40%;
    background-color: var(--colorDarkYellow);
  }
  .skill-slider {
    box-sizing: border-box;
    width: 200%;
    display: flex;
    gap: 15px;
  }
  .skills-icons {
    width: 100px;
    height: 100px;
    background-color: var(--colorBgDark);
    object-fit: contain;
  }
}
