._menubar {
  height: 10vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.headerImg {
  width: 4.5rem;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--colorDarkYellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
._menuLeft {
  height: 100%;
  box-sizing: border-box;
}
._menuRight {
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

._menuRight_nav {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
._menuRight_nav a {
  width: auto;
  color: #fff;
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
._menuRight_nav a::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background-color: var(--colorDarkYellow);
  left: -1px;
  bottom: -1px;
  transform: scale(0);
  transition: transform 150ms ease-in-out;
}
._menuRight_nav a:hover::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 1px;
  background-color: var(--colorDarkYellow);
  left: -1px;
  bottom: -1px;
  transform: scale(1);
}
._menuRight_nav .active {
  color: var(--colorDarkYellow);
}
._menuEnd {
  width: 4.5rem;
}
._menuMobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  ._menuRight {
    display: none;
  }
  ._menuMobile {
    display: block;
    width: 3rem;
    height: 3rem;
    padding-right: 0.5rem;
  }

  /* /Hamburger Css */
  #clicked {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100% !important;
  }

  #clicked span {
    background: #fff;
    border-radius: 10px;
    height: 5px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  span:nth-of-type(1) {
    width: 50%;
  }

  span:nth-of-type(2) {
    width: 100%;
  }

  span:nth-of-type(3) {
    width: 75%;
  }

  input[type="checkbox"] {
    display: none;
  }

  #check ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(7px, 0px);
  }

  #check ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  #check ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(21px, -6px) rotatez(45deg);
  }
}
