body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --ColorPrimary: #08080d;
  --colorSecondry: #4f4346;
  --colorShadow: #bcbabc;
  --colorBgLight: #333646;
  --colorBgDark: #242424;
  --colorLightYellow: #efa649;
  --colorDarkYellow: #f86d09;
}
